#root {
  width: 100dvw;
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.drop-zone {
  border: 2px dashed #009578;
  min-width: 85%;
  height: 500px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
}

.file-browser {
  display: none;
}

.drop-zone__prompt {
  /*  */
}
