#root {
  width: 100dvw;
  height: 100dvh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.drop-zone {
  border: 2px dashed black;
  min-width: 85%;
  height: 500px;
  border-radius: 2%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.drop-zone__prompt {
  min-width: 100%;
  margin-top: 10%;
}
