#root {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.drop-zone {
  border: 4px dashed #009578;
  min-width: 95%;
  height: 500px;
  border-radius: 10px;
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  font-weight: 500;
}

.drop-zone__prompt {
  width: 100%;
}

.drop-zone-hover {
  border: 4px solid #009578;
  height: 500px;
  border-radius: 10px;
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  font-weight: 500;
}

.file-browser {
  display: none;
}

.main-contain {
  width: 85%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
